[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "https://download.pytorch.org/whl/cpu/torch-2.4.1-cp39-none-macosx_11_0_arm64.whl"}
tqdm = "*"
squad-df = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
matplotlib = "*"
pre-commit = "*"
tensorflow = "*"
tensorboardx = "*"
seaborn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
